# Build-Ergebnisse
/build/
/out/
/app/build/
/.gradle/
/local.properties
*.iml
.idea/

# Werden auf GitHub beim Bauen eingefügt
/app/src/main/jniLibs/
/app/src/main/assets/*.elf

# Betriebssysteme
/mein-os/*.o
/mein-os/kernel.elf
/beispiel-os/*.o
/beispiel-os/kernel.elf
/kernels/

# Signierschlüssel nur verschlüsselt
*.p12
*.jks
!signing/*.enc
